.cmp-feature-comparison
  %table
    %thead
      %tr
        %th.text-left
          .feature-table-title
            Compare Plans
          .feature-table-disclaimer
            ** Available on self-managed plans only

        -# this logic block is copied and modified from the price matrix file
        - variant = 'control'
        - control_pricing_plans = data.pricing.plans.dup
        -# Must use .dup otherwise you're referencing the same object when copying the variable.
        - control_plans = control_pricing_plans
        - control_plans.each_with_index do |plan_control, index|
          - free = plan_control.id == 'free'
          %th{ class: "text-center feature-th-#{plan_control.id}"}
            .feature-table-plan-title= plan_control.title
            .feature-table-plan-price $#{plan_control.monthly_price} /user/month
            %div{ class: "feature-table-plan-button btn cta-btn start-#{plan_control.id}", data: { target: "##{plan_control.id}-modal-#{variant}", toggle: 'modal' } }= free ? 'Start now' : 'Buy now'

    -# logic notes:
      1. if it doesn't exist in the two previous features, then you don't need to check past that point.
      2. you don't have to check if something is in ultimate.
      3. highlight_features == true ... ? I think this is a red herring.
      4. gitlab_com_features: false (self-managed) vs true (saas)
    %tbody.feature-list.header.first
      - data.features.features.each do |feature|
        -# FREE
        - if ((feature.public_send(key_one) == true && feature.link != nil && feature.feature_page == true && feature.public_send(key_two) != nil) && !(feature.gitlab_com == false && gitlab_com_features == true))
          = partial "includes/features/pricing-feature-row", locals: { key_one: key_one, key_two: key_two, key_three: key_three, feature: feature }
          -#
            if
              has a link
              && has a page
              && is in free
              && is in bronze
              && is in premium
              && NOT (feature.gitlab_com == false && highlight_features == true)
            then show these first
            repeat until loop is done
      - data.features.features.each do |feature|
        -# Premium
        - if (feature.public_send(key_one) == false && feature.public_send(key_two) == true && !(feature.gitlab_com == false && gitlab_com_features == true))
          = partial "includes/features/pricing-feature-row", locals: { key_one: key_one, key_two: key_two, key_three: key_three, feature: feature }
          -#
            if
              is NOT in bronze
              && is in premium
              && NOT (feature.gitlab_com == false && highlight_features == true)
            then show these next
            repeat until loop is done
      - data.features.features.each do |feature|
        -# Ultimate
        - if (feature.title == "Static Application Security Testing")
          = partial "includes/features/pricing-feature-row", locals: { key_one: key_one, key_two: key_two, key_three: key_three, feature: feature }
      - data.features.features.each do |feature|
        - if (feature.public_send(key_two) == false && feature.public_send(key_three) == true && !(feature.gitlab_com == false && gitlab_com_features == true))
          = partial "includes/features/pricing-feature-row", locals: { key_one: key_one, key_two: key_two, key_three: key_three, feature: feature }
          -#
            if
              is NOT in premium
              & is in ultimate
              && NOT (feature.gitlab_com == false && highlight_features == true)
            then show these next
            repeat until loop is done
  .feature-list-view-more
    %span.more Compare more features
    %span.less View Less
    %span.icon
      = partial "/images/icons/slp-chevron-lg-down.svg"
  %script{"type": "text/javascript", "data-cookieconsent": "ignore"}
    :plain
      (function(){
        expandableTargets = document.querySelectorAll('.feature-list-view-more');
        for(loopcount=0;loopcount<expandableTargets.length;loopcount++)
        {
          expandableTargets[loopcount].addEventListener('click', function(event)
          {
            var expandThis = document.querySelectorAll('.feature-list');
            for(loopcount2=0;loopcount2<expandThis.length;loopcount2++)
            {
              expandThis[loopcount2].classList.toggle("expanded");
              event.currentTarget.classList.toggle("expanded");
              if (event.currentTarget.classList.contains("expanded") == false)
              {
                event.currentTarget.scrollIntoView({ behavior: 'smooth', block: 'center' });
              };
            };
          });
        };
      }());
