<td style="text-align:center">
  <% case (!status.nil? ? status : fallback) %>
  <% when true %>
    ✅
  <% when false %>
    ❌
  <% when 'config_required' %>
    ⚙️
  <% when 'install_required' %>
    ⤓
  <% when 'not_applicable' %>
    N/A
  <% end %>
</td>
