---
layout: default
title: Diversity Inclusion And Belonging Certfication & Training 
extra_css:
  - job-family.css
---

.content-container.job-family
  .wrapper.container{ role: "main" }
    .row
      .col-md-12
        %h2.job-family-title.text-center Overview Page
        .job-family-blurb This page provides all the modules that needs to be completed to achieve the Diversity, Inclusion & Belonging Certification at Gitlab
    %hr.solid

    .row.job-family-card-group
      .card.job-family-card
        .card-body.job-family-card-body
          %h4.card-title.job-family-title Module 1 - Welcome to GitLab DIB Certification Training
          %p.card-text
            %ul.job-family-list
              %li
                %a{ href: "https://youtu.be/1pY6NMyuy5Q" } Welcome from our CEO
              %li
                %a{ href: "https://youtu.be/1yr1NxfQOSw" } DIB Team Welcome - Candace Williams, Diversity, Inclusion, & Belonging Manager
              %li
                %a{ href: "https://youtu.be/1pY6NMyuy5Q" } DIB Team Welcome - Liam McNally, Diversity, Inclusion, & Belonging Partner
              %li
                %a{ href: "https://youtu.be/A9VSQDhnR7o" } DIB Definitions
              %li
                %a{ href: "https://docs.google.com/presentation/d/1yUkifuK1kbZNF0_FfFI7iMcLRL7kmDT4dr21Mu0zDMo/edit?usp=sharing" } DIB Definitions Slide Deck
              %li
                %a{ href: "https://docs.google.com/presentation/d/1sgr4qzWJR7iKwM7v1y9XDvvM7ccODEmZZ8rwalUK5wA/edit?usp=sharing" } What is DIB - Diversity, Inclusion & Belonging
      .card.job-family-card
        .card-body.job-family-card-body
          %h4.card-title.job-family-title Module 2 - Our Journey in DIB
          %p.card-text
            %ul.job-family-list
              %li
                %a{ href: "https://youtu.be/uqe36qKwvUk" } How DIB started at GitLab and where we are today; Our Journey in DIB
              %li
                %a{ href: "https://youtu.be/wFO2tpzpVno" } TMRG - GitLab Pride
              %li
                %a{ href: "/company/culture/inclusion/erg-gitlab-pride/" } TMRG - GitLab Women
              %li
                %a{ href: "https://youtu.be/pv3TMP5AfRY" } TMRG - MIT - Minorities in Tech
              %li
                %a{ href: "https://youtu.be/O1OIpGsJ9tc" } TMRG - GitLab DiversABILITY
              %li
                %a{ href: "https://youtu.be/6eke5700KWc" } TMRG - GitLab Generational Understanding
              %li
                %a{ href: "https://youtu.be/tgpANFpoIYE" } TMRG - LatinX
              %li
                %a{ href: "https://youtu.be/8ohfv0iyGEg" } DIB Advisory Board
                

      .card.job-family-card
        .card-body.job-family-card-body
          %h4.card-title.job-family-title Module 3 - The Culture of DIB at GitLab - We ALL Contribute
          %p.card-text
            %ul.job-family-list
              %li
                %a{ href: "https://youtu.be/asrNQly1mTo" } Intro of Module 3 - How We ALL Contribute
              %li
                %a{ href: "https://youtu.be/WEy4LjxB0aI" } DIB in Operations - The Team Member Experience
              %li
                %a{ href: "https://youtu.be/n2CS4XQtaFE" } All Remote and DIB
              %li
                %a{ href: "https://youtu.be/nZ8K-XjgdO0" } PBPs (People Business Partners) and DIB - The Work Being Done to Support the Business
              %li
                %a{ href: "https://youtu.be/TMZdNAEh_9E" } L&D and DIB Collaboration
              %li
                %a{ href: "https://youtu.be/-sv0uKjriRs" } Data and DIB - How it Comes Together
              %li
                %a{ href: "https://youtu.be/eXcjoPtkGXk" } DIB in Recruiting 
              %li
                %a{ href: "https://youtu.be/eXcjoPtkGXk" } DIB and Additional Things to Consider - Closing Thoughts 
              
    

      .card.job-family-card
        .card-body.job-family-card-body
          %h4.card-title.job-family-title Module 4 - Testing your DIB Knowledge
          %p.card-text
            %ul.job-family-list
              %li
                %a{ href: "/company/culture/inclusion/#diversity-inclusion--belonging-training-and-learning-opportunities" } TBC
              

